@font-face {
  font-family: 'PostGrid';
  src:  url('fonts/PostGrid.eot?tl1yh5');
  src:  url('fonts/PostGrid.eot?tl1yh5#iefix') format('embedded-opentype'),
    url('fonts/PostGrid.ttf?tl1yh5') format('truetype'),
    url('fonts/PostGrid.woff?tl1yh5') format('woff'),
    url('fonts/PostGrid.svg?tl1yh5#PostGrid') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'PostGrid' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-overline:before {
  content: "\e90a";
}
.icon-strikethrough:before {
  content: "\e908";
}
.icon-underline:before {
  content: "\e909";
}
.icon-read-more .path1:before {
  content: "\e90e";
  color: rgb(134, 134, 134);
}
.icon-read-more .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(134, 134, 134);
}
.icon-read-more .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(134, 134, 134);
}
.icon-read-more .path4:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(134, 134, 134);
}
.icon-read-more .path5:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-post-author .path1:before {
  content: "\e913";
  color: rgb(103, 103, 103);
}
.icon-post-author .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(103, 103, 103);
}
.icon-post-author .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(103, 103, 103);
}
.icon-post-author .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-post-author .path5:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-post-excerpt .path1:before {
  content: "\e918";
  color: rgb(134, 134, 134);
}
.icon-post-excerpt .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-post-excerpt .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-post-excerpt .path4:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-post-tags .path1:before {
  content: "\e91c";
  color: rgb(0, 0, 0);
}
.icon-post-tags .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-post-tags .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-post-tags .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-post-tags .path5:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(134, 134, 134);
}
.icon-post-tags .path6:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(134, 134, 134);
}
.icon-post-tags .path7:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(134, 134, 134);
}
.icon-post-categories .path1:before {
  content: "\e923";
  color: rgb(0, 0, 0);
}
.icon-post-categories .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-post-categories .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(134, 134, 134);
}
.icon-post-categories .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(134, 134, 134);
}
.icon-post-categories .path5:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(134, 134, 134);
}
.icon-post-title .path1:before {
  content: "\e928";
  color: rgb(0, 0, 0);
}
.icon-post-title .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(134, 134, 134);
}
.icon-post-title .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(134, 134, 134);
}
.icon-post-title .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(134, 134, 134);
}
.icon-close:before {
  content: "\e907";
}
.icon-responsive:before {
  content: "\e906";
}
.icon-television:before {
  content: "\e900";
}
.icon-desktop:before {
  content: "\e901";
}
.icon-laptop:before {
  content: "\e902";
}
.icon-mobile-phone:before {
  content: "\e903";
}
.icon-tablet:before {
  content: "\e904";
}
.icon-post-grid-icon:before {
  content: "\e905";
}
