.pg-menu-wrap {}

.pg-menu-wrap .pg-menu {}

.pg-menu-wrap .pg-menu li {
    position: relative;
}

.pg-menu-wrap .pg-menu li:hover {}



.pg-menu-wrap .pg-menu li .pg-sub-menu {

    visibility: hidden;
    position: absolute;
    top: 200%;
    transition: ease 1s 0s all;
    opacity: 0.4;
}

.pg-menu-wrap .pg-menu li:hover>.pg-sub-menu,
.pg-menu-wrap .pg-menu li.active>.pg-sub-menu {
    display: block;
    top: 100%;
    visibility: visible;
    opacity: 1;
}




.pg-menu-wrap .pg-sub-menu .pg-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
}

.pg-menu-wrap .mobile-menu-toggle {
    display: none;
}

.pg-menu-wrap .mobile-menu-wrap[active] {
    visibility: visible;
}

@media (max-width: 1000px) {
    .pg-menu-wrap {
        position: relative;
        justify-content: end !important;
    }

    .pg-menu-wrap nav .pg-menu {
        display: none !important;
    }

    .pg-menu-wrap .mobile-menu-toggle,
    .pg-menu-wrap .mobile-menu-wrap {
        display: block;
    }

    .pg-menu-wrap .pg-menu li {}

    .pg-menu-wrap .pg-menu li .pg-sub-menu {
        visibility: visible;
        position: relative;
        opacity: 1;
        padding: 0 0 15px 25px;
    }

}