.pg-form {}


.pg-form .pg-form-responses .error {
    color: #e27c7c;
    padding: 5px 10px;
    margin: 5px 0;
}

.pg-form .pg-form-responses .success {
    color: #2f6713;
    padding: 5px 10px;
    margin: 5px 0;
}

.pg-form-field.error .error-wrap {

    display: block !important;
}

.pg-form-field.error .error-wrap {
    color: #e27c7c;

}